## NPC Real Estate Data Exploration
### By Okechukwu Victory

### Introduction
> Nigeria Property Centre (NPC) is a real estate and property website in Nigeria with property listings for sale, rent and lease. They offer Nigerian property seekers an easy way to find details of property like homes, houses, lands, shops, office spaces and other commercial properties to buy or rent. They provide a platform for advertising property from organisations and Nigerian private property owners.

> The dataset consists of houses for sale gotten through web scrapping of the Nigeria Property Centre website. The dataset consists 5628 house listings and 4 variables namely Title, Date, Price and Location

In [1]:
# Import the necessary libraries
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt

In [2]:
# Loading the dataset
df = pd.read_csv('NPC_data.csv')

In [11]:
# Creating a copy for data cleaning
df_clean = df.copy()

### Data cleaning
1. Dropping duplicated/null values
2. Removing symbol in price column and converting it to int variable
3. cleaning location to major districts in abuja
4. geting bedrooms and property type from title
5. cleaning date up, removing today and yesterday, and converting it to datetime variable

In [12]:
df_clean.head()

,Title,Date,Price,Location
0,5 bedroom detached duplex for sale,18 Apr 2022,"₦110,000,000",Airport Road Opposite China Chamber Of Commer...
1,4 bedroom block of flats for sale,Today,"₦50,000,000","Mini Estate, Wuye, Abuja"
2,4 bedroom semi-detached duplex for sale,Today,"₦170,000,000","Wuye, Wuye, Abuja"
3,5 bedroom house for sale,Today,"₦200,000,000","Guzape District, Abuja"
4,8 bedroom detached duplex for sale,Today,"₦2,800,000,000","Asokoro District, Abuja"

#### Dropping duplicated values

In [4]:
# Checking the shape
df_clean.shape

(5628, 4)

In [5]:
# Dropping of duplicated
df_clean = df_clean.drop_duplicates(ignore_index=True)
df_clean.shape

(5276, 4)

In [6]:
# Checking for null values
df_clean.notnull().sum()

Title       5276
Date        5276
Price       5276
Location    5276
dtype: int64

#### Removing symbol in price column and converting it to int variable

In [10]:
# Removing the Naira symbol
df_clean['Price'] = df_clean['Price'].replace('₦','',regex=True)
df_clean

,Title,Date,Price,Location,Bedroom
0,5 bedroom detached duplex for sale,18 Apr 2022,"110,000,000",Airport Road Opposite China Chamber Of Commer...,5
1,4 bedroom block of flats for sale,Today,"50,000,000","Mini Estate, Wuye, Abuja",4
2,4 bedroom semi-detached duplex for sale,Today,"170,000,000","Wuye, Wuye, Abuja",4
3,5 bedroom house for sale,Today,"200,000,000","Guzape District, Abuja",5
4,8 bedroom detached duplex for sale,Today,"2,800,000,000","Asokoro District, Abuja",8
...,...,...,...,...,...
5164,2 bedroom block of flats for sale,27 Dec 2020,"26,000,000","Brains And Hammers Estate City, Life Camp, Abuja",2
5165,3 bedroom house for sale,27 Dec 2020,"23,000,000","Brains And Hammers City, Life Camp, Abuja",3
5166,5 bedroom detached duplex for sale,09 Dec 2020,"120,000,000","Galadimawa, Abuja",5
5167,2 bedroom block of flats for sale,25 Dec 2020,"22,000,000","Dss Quarters Road, After Coza Church, Guzape ...",2
5168,4 bedroom terraced duplex for sale,22 Dec 2020,"75,000,000","By Abc Cargo, Katampe (Main), Katampe, Abuja",4

In [7]:
# Creating a column for number of bedroom
df_clean['Bedroom'] = df_clean['Title'].str.split(' ', expand=True)[0]
df_clean.head()

,Title,Date,Price,Location,Bedroom
0,5 bedroom detached duplex for sale,18 Apr 2022,"₦110,000,000",Airport Road Opposite China Chamber Of Commer...,5
1,4 bedroom block of flats for sale,Today,"₦50,000,000","Mini Estate, Wuye, Abuja",4
2,4 bedroom semi-detached duplex for sale,Today,"₦170,000,000","Wuye, Wuye, Abuja",4
3,5 bedroom house for sale,Today,"₦200,000,000","Guzape District, Abuja",5
4,8 bedroom detached duplex for sale,Today,"₦2,800,000,000","Asokoro District, Abuja",8

In [8]:
# Checking the value counts of the bedroom variable
df_clean['Bedroom'].value_counts()

4                2249
5                1236
3                 685
6                 393
7                 178
2                 175
8                 132
9                  72
10                 35
Block              35
12                 15
1                  14
16                  5
24                  5
15                  5
14                  4
11                  4
40                  4
18                  3
20                  3
17                  2
60                  2
27                  2
35                  2
36                  2
Detached            1
31                  1
62                  1
19                  1
13                  1
25                  1
50                  1
Semi-detached       1
300                 1
100                 1
32                  1
30                  1
83                  1
56                  1
Name: Bedroom, dtype: int64

In [9]:
# Limiting the number of houses to those with 1 -10 bedrooms
no_of_bedrooms = ['1','2','3','4','5','6','7','8','9','10']
df_clean = df_clean[df_clean['Bedroom'].isin(no_of_bedrooms)]
df_clean = df_clean.reset_index(drop=True)
df_clean

,Title,Date,Price,Location,Bedroom
0,5 bedroom detached duplex for sale,18 Apr 2022,"₦110,000,000",Airport Road Opposite China Chamber Of Commer...,5
1,4 bedroom block of flats for sale,Today,"₦50,000,000","Mini Estate, Wuye, Abuja",4
2,4 bedroom semi-detached duplex for sale,Today,"₦170,000,000","Wuye, Wuye, Abuja",4
3,5 bedroom house for sale,Today,"₦200,000,000","Guzape District, Abuja",5
4,8 bedroom detached duplex for sale,Today,"₦2,800,000,000","Asokoro District, Abuja",8
...,...,...,...,...,...
5164,2 bedroom block of flats for sale,27 Dec 2020,"₦26,000,000","Brains And Hammers Estate City, Life Camp, Abuja",2
5165,3 bedroom house for sale,27 Dec 2020,"₦23,000,000","Brains And Hammers City, Life Camp, Abuja",3
5166,5 bedroom detached duplex for sale,09 Dec 2020,"₦120,000,000","Galadimawa, Abuja",5
5167,2 bedroom block of flats for sale,25 Dec 2020,"₦22,000,000","Dss Quarters Road, After Coza Church, Guzape ...",2
5168,4 bedroom terraced duplex for sale,22 Dec 2020,"₦75,000,000","By Abc Cargo, Katampe (Main), Katampe, Abuja",4